
.quiet_text {
	color: #777;
}

#search_input {
	margin-bottom: 50px;
}

#error-box {
	display: none;
}

.channel {
	padding: 10px;
	position: relative;
	margin-top: 20px;
}

@media (max-width: 800px) {
	.channel {
		padding: unset;
		padding-top: 5px;
	}
}

.video_list {
	display: flex;
	align-items: stretch;
}

.channel_title {
	font-size: 1.2em;
	font-weight: bold;
}

#footer {
	border-top: 1px solid #bbb;
	padding: 10px;
	margin-top: 20px;
	font-size: 0.9em;
}

#showhide {
	float: right;
}

.video {
	position: relative;
	border: 1px solid #bbb;
	background: #eee;
	padding: 0;
	margin-right: 5px;
	width: 200px;
	min-width: 100px;
	font-size: 0.9em;
	display: flex;
	flex-direction: column;
}

.video:hover {
	box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

.video_title {
	padding: 3px;
	border-bottom: 1px solid #ccc;
	background: #3c3c3c;
	color: #fff;
	flex-grow: 2;
}

.video_footer {
	padding: 3px;
	text-align: right;
	font-size: 0.9em;
}

.video_thumb img {
	width: 100%;
}

.video_duration {
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	font-size: 0.9em;
	background-color: rgba(0,0,0,0.5);
	padding: 2px;
}

.close_channel {
	position: absolute;
	left: -40px;
	top: 0;
	opacity: 0.5;
	font-size: 3em;
}

.close_channel:hover {
	opacity: 1;
	cursor: pointer;
}

@media (max-width: 800px) {
	.close_channel {
		left: 50%;
		top: -25px;
	}
}


/* http://www.cssportal.com/css-ribbon-generator/ */

.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: rgba(255,0,0,0.6);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
