body {
	font-family: Sans-Serif;
}

.quiet_text {
	color: #777;
}

.channel {
	padding: 10px;
	position: relative;
}

.video_list {
	display: flex;
	align-items: stretch;
}

.channel_title {
	font-size: 1.2em;
	font-weight: bold;
}

#footer {
	border-top: 1px solid #bbb;
	padding: 10px;
	margin-top: 20px;
	font-size: 0.9em;
}

#showhide {
	float: right;
}

.video {
	position: relative;
	border: 1px solid #bbb;
	display: inline-block;
	padding: 0;
	margin-right: 5px;
	width: 200px;
	font-size: 0.8em;
}

.video_title {
	padding: 3px;
	border-bottom: 1px solid #ccc;
	background: #eee;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis
}

.video_footer {
	padding: 3px;
	text-align: right;
}

.video_thumb img {
	width: 100%;
}

.video_duration {
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	font-size: 0.9em;
	background-color: rgba(0,0,0,0.5);
	padding: 2px;
}

/* Close symbol, credit to https://codepen.io/brissmyr/pen/egidw */
.close {
	position: absolute;
	left: -20px;
	top: 16px;
	width: 16px;
	height: 16px;
	opacity: 0.5;
}
.close:hover {
	opacity: 1;
}
.close:before, .close:after {
	position: absolute;
	content: ' ';
	height: 17px;
	width: 3px;
	background-color: #333;
}
.close:before {
	transform: rotate(45deg);
}
.close:after {
	transform: rotate(-45deg);
}

