body {
	font-family: Sans-Serif;
}

.quiet_text {
	color: #777;
}

.channel {
	padding: 10px;
	position: relative;
}

.video_list {
	display: flex;
	align-items: stretch;
}

.channel_title {
	font-size: 1.2em;
	font-weight: bold;
}

#footer {
	border-top: 1px solid #bbb;
	padding: 10px;
	margin-top: 20px;
	font-size: 0.9em;
}

#showhide {
	float: right;
}

.video {
	position: relative;
	border: 1px solid #bbb;
	display: inline-block;
	padding: 0;
	margin-right: 5px;
	width: 200px;
	min-width: 100px;
	font-size: 0.9em;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

.video_title {
	padding: 3px;
	border-bottom: 1px solid #ccc;
	background: #3c3c3c;
	color: #fff;
}

.video_footer {
	padding: 3px;
	text-align: right;
	background: #eee;
}

.video_thumb img {
	width: 100%;
}

.video_duration {
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	font-size: 0.9em;
	background-color: rgba(0,0,0,0.5);
	padding: 2px;
}

/* Close symbol, credit to https://codepen.io/brissmyr/pen/egidw */
.close_channel {
	position: absolute;
	left: -20px;
	top: 16px;
	width: 16px;
	height: 16px;
	opacity: 0.5;
}

.close_channel:hover {
	opacity: 1;
	cursor: pointer;
}
.close_channel:before, .close_channel:after {
	position: absolute;
	content: ' ';
	height: 17px;
	width: 2px;
	background-color: #333;
}
.close_channel:before {
	transform: rotate(45deg);
}
.close_channel:after {
	transform: rotate(-45deg);
}

@media (max-width: 800px) {
	/* some CSS here */
	.close_channel {
		left: 50%;
		top: 0px;
	}
}

